:root {
  --main-color: #D67341;
  --dark-color: #B05E35;
}

nav{
  background: var(--main-color);
  overflow: hidden;
  padding: 0 1em 0 1em;
}

nav a{
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  color: #fff;
}

nav a:hover{
  background: var(--dark-color);
}

.content{
  padding: 1em;
}

.content h1{
  font-size: 3em;
  margin-bottom: .5em;
}